ma.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="articles">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="article" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="data"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="title" use="optional" default="Article Title Goes Here"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>